# Gradle files
.gradle/
build/
app/build/
*.iml

# IDE files
.idea/
*.ipr
*.iws
.project
.classpath
.settings/
.idea/caches/
.idea/libraries/
.idea/workspace.xml

# Local configuration
local.properties

# Log files
*.log

# Built artifacts
*.apk
*.aar
*.jar
*.bundle

# Android files
captures/
.externalNativeBuild/
.cxx/
